Ascend IU Email Automation.json
{
  "name": "Ascend IU Email Automation",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "Ascend IU Event Outreach"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Alumni"
        },
        "filterByFormula": "=AND({Status}=\"Approved\", NOT({Last Email Sent}))",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        192,
        48
      ],
      "id": "node-id-1",
      "name": "Get Approved Alumni Blast 1",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "You are Invited — Ascend IU Upcoming Event",
        "message": "=Hi {{  $json.Name }},\n\nWe hope this message finds you well! On behalf of Ascend IU, we are thrilled to invite you to our upcoming event.\n\nWe would love to see you there and reconnect with fellow alumni. Please fill out the interest form below to let us know if you'll be able to join us:\n\n[Interest Form Link]\n\nEvent Overview:\n- Date: TBD\n- Location: TBD\n- Details: More information will be shared upon registration\n\nIf you have any questions, feel free to reply to this email. We look forward to hearing from you!\n\nBest,\nAscend IU",
        "options": {
          "sendTo": "={{ $json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "node-id-2",
      "name": "Create Blast 1 Draft",
      "webhookId": "YOUR_WEBHOOK_ID_1",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Stage 2 Sent": false,
            "Draft Created": true,
            "id": "={{ $('Get Approved Alumni Blast 1').item.json.id }}",
            "Stage": "Invited",
            "Last Email Sent": "Initial Invite",
            "Last Email Sent Date": "={{ $today.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "node-id-3",
      "name": "Update Airtable After Blast 1 Draft",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "schedule-trigger-001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        48
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form Responses 1",
          "mode": "name"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        352
      ],
      "id": "watch-form-responses-p5",
      "name": "Watch Form Responses",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "filterByFormula": "={{ 'AND({Email}=\"' + $json['Email Address'] + '\", {Stage 2 Sent}=FALSE())' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        48,
        352
      ],
      "id": "check-stage2-not-sent-p5",
      "name": "Check Stage 2 Not Sent",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "attending-check-001",
              "leftValue": "={{ $('Watch Form Responses').item.json['Will you be attending?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        352
      ],
      "id": "yes-or-no-branch-p5",
      "name": "Yes or No Branch"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "We are so excited to see you!",
        "message": "=Hi {{ $('Check Stage 2 Not Sent').item.json.Name }},\n\nThank you so much for confirming your attendance! We are absolutely thrilled to have you join us at the upcoming Ascend IU event.\n\nMore details will be on their way to you shortly. If you have any questions in the meantime, please don't hesitate to reach out.\n\nWe can't wait to see you there!\n\nWarm regards,\nAscend IU",
        "options": {
          "sendTo": "={{ $('Check Stage 2 Not Sent').item.json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        224
      ],
      "id": "create-path-a-draft-p5",
      "name": "Create Path A Draft",
      "webhookId": "YOUR_WEBHOOK_ID_2",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Thank you for letting us know",
        "message": "=Hi {{ $('Check Stage 2 Not Sent').item.json.Name }},\n\nThank you for letting us know that you won't be able to make it this time. We completely understand and truly appreciate you taking the time to respond.\n\nWe hope to see you at a future Ascend IU event and will keep you in the loop for upcoming opportunities!\n\nBest wishes,\nAscend IU",
        "options": {
          "sendTo": "={{ $('Check Stage 2 Not Sent').item.json.Email }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        464
      ],
      "id": "create-path-b-draft-p5",
      "name": "Create Path B Draft",
      "webhookId": "YOUR_WEBHOOK_ID_3",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Check Stage 2 Not Sent').item.json.id }}",
            "Stage 2 Sent": true,
            "Stage": "Confirmed",
            "Last Email Sent": "Path A Response",
            "Last Email Sent Date": "={{ $today.format('yyyy-MM-dd') }}",
            "Draft Created": true
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        224
      ],
      "id": "update-path-a-p5",
      "name": "Update Airtable After Path A",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Check Stage 2 Not Sent').item.json.id }}",
            "Stage 2 Sent": true,
            "Stage": "Declined",
            "Last Email Sent": "Path B Response",
            "Last Email Sent Date": "={{ $today.format('yyyy-MM-dd') }}",
            "Draft Created": true
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        464
      ],
      "id": "update-path-b-p5",
      "name": "Update Airtable After Path B",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "daily-no-response-check-p6",
      "name": "Daily No Response Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        656
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "filterByFormula": "AND({Stage}=\"Invited\", {Stage 2 Sent}=FALSE(), DATETIME_DIFF(TODAY(), {Last Email Sent Date}, \"days\") >= 7)",
        "options": {}
      },
      "id": "find-ignored-alumni-p6",
      "name": "Find Ignored Alumni",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        48,
        656
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Just checking in — Ascend IU Event",
        "message": "=Hi {{ $json.Name }},\n\nWe wanted to follow up on our previous message regarding the upcoming Ascend IU event. We noticed we haven't heard back from you yet and wanted to make sure you didn't miss out!\n\nIf you're interested in attending, please take a moment to fill out the form below:\n\n[Interest Form Link]\n\nWe'd love to have you join us and reconnect with the Ascend IU community. If you have any questions or need more information, feel free to reply to this email.\n\nHope to hear from you soon!\n\nBest,\nAscend IU",
        "options": {
          "sendTo": "={{ $json.Email }}"
        }
      },
      "id": "create-path-c-draft-p6",
      "name": "Create Path C Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        656
      ],
      "webhookId": "YOUR_WEBHOOK_ID_4",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Find Ignored Alumni').item.json.id }}",
            "Stage": "Reminded",
            "Last Email Sent": "Follow Up Reminder",
            "Last Email Sent Date": "={{ $today.format('yyyy-MM-dd') }}",
            "Draft Created": true
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "update-after-path-c-p6",
      "name": "Update Airtable After Path C",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        560,
        656
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "filterByFormula": "AND({Status}=\"Approved\", {Stage}=\"Confirmed\", IS_SAME({Scheduled Date}, TODAY(), \"day\"), {Last Email Sent}=\"Path A Response\")",
        "options": {}
      },
      "id": "get-confirmed-alumni-blast-2",
      "name": "Get Confirmed Alumni Blast 2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        192,
        928
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Important Update — Ascend IU Event Details",
        "message": "=Hi {{ $json.Name }},\n\nWe're excited to share the details for our upcoming Ascend IU event!\n\n- Date: [Event Date]\n- Time: [Event Time]\n- Location: [Event Location]\n\nLogistics:\n[Additional logistics details here]\n\nWe look forward to seeing you there!\n\nBest,\nAscend IU",
        "options": {
          "sendTo": "={{ $json.Email }}"
        }
      },
      "id": "create-blast-2-draft",
      "name": "Create Blast 2 Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        928
      ],
      "webhookId": "YOUR_WEBHOOK_ID_5",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Confirmed Alumni Blast 2').item.json.id }}",
            "Stage": "Update Sent",
            "Last Email Sent": "Update Email",
            "Last Email Sent Date": "={{ $today.format('yyyy-MM-dd') }}",
            "Draft Created": true
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "update-after-blast-2",
      "name": "Update Airtable After Blast 2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        624,
        928
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "filterByFormula": "AND({Status}=\"Approved\", {Stage}=\"Update Sent\", IS_SAME({Scheduled Date}, TODAY(), \"day\"), {Last Email Sent}=\"Update Email\")",
        "options": {}
      },
      "id": "get-confirmed-alumni-blast-3",
      "name": "Get Confirmed Alumni Blast 3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        192,
        1200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Thank you for joining us — Ascend IU",
        "message": "=Hi {{ $json.Name }},\n\nThank you so much for joining us at the Ascend IU event! It was wonderful to see you and reconnect with our alumni community.\n\nWe'd love to hear your thoughts! Please take a moment to fill out our feedback form:\n\n[Feedback Google Form Link]\n\nYour input helps us make future events even better.\n\nWith gratitude,\nAscend IU",
        "options": {
          "sendTo": "={{ $json.Email }}"
        }
      },
      "id": "create-blast-3-draft",
      "name": "Create Blast 3 Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        1200
      ],
      "webhookId": "YOUR_WEBHOOK_ID_6",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Confirmed Alumni Blast 3').item.json.id }}",
            "Stage": "Thank You Sent",
            "Last Email Sent": "Thank You Email",
            "Last Email Sent Date": "={{ $today.format('yyyy-MM-dd') }}",
            "Draft Created": true
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "update-after-blast-3",
      "name": "Update Airtable After Blast 3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        624,
        1200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Get Approved Alumni Blast 1": {
      "main": [
        [
          {
            "node": "Create Blast 1 Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Blast 1 Draft": {
      "main": [
        [
          {
            "node": "Update Airtable After Blast 1 Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Approved Alumni Blast 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Confirmed Alumni Blast 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Confirmed Alumni Blast 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch Form Responses": {
      "main": [
        [
          {
            "node": "Check Stage 2 Not Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stage 2 Not Sent": {
      "main": [
        [
          {
            "node": "Yes or No Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yes or No Branch": {
      "main": [
        [
          {
            "node": "Create Path A Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Path B Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Path A Draft": {
      "main": [
        [
          {
            "node": "Update Airtable After Path A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Path B Draft": {
      "main": [
        [
          {
            "node": "Update Airtable After Path B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily No Response Check": {
      "main": [
        [
          {
            "node": "Find Ignored Alumni",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Ignored Alumni": {
      "main": [
        [
          {
            "node": "Create Path C Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Path C Draft": {
      "main": [
        [
          {
            "node": "Update Airtable After Path C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Confirmed Alumni Blast 2": {
      "main": [
        [
          {
            "node": "Create Blast 2 Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Blast 2 Draft": {
      "main": [
        [
          {
            "node": "Update Airtable After Blast 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Confirmed Alumni Blast 3": {
      "main": [
        [
          {
            "node": "Create Blast 3 Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Blast 3 Draft": {
      "main": [
        [
          {
            "node": "Update Airtable After Blast 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "template-version",
  "meta": {
    "instanceId": "template-instance"
  },
  "id": "template-id",
  "tags": []
}
